
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.forgot-password {
  width: 500px;
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  background-color: var(--secondary-color);
  margin:125px auto
}


.forgot-password h4 {
  text-align: center;
  color: var(--link-color);
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Montoserrat', thin;
}

.forgot-password form {
  display: flex;
  flex-direction: column;
}

.forgot-password label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--label-color);
  display: block;
}

.forgot-password input[type='email'],
.forgot-password input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.forgot-password input[type='submit'] {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.forgot-password input[type='submit']:hover {
  background-color: var(--hover-color);
}

.forgot-password a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: var(--label-focus-color);
}
.forgot-password input[type="email"]:focus,
.forgot-password input[type="text"]:focus {
  outline: none;
  border-color: var(--link-color);
  box-shadow: 0 0 5px var(--label-focus-color);
}
