
.heading > {
    position: absolute;
    top: 250px; 
    left: 20px; 
    color: rgb(231, 230, 234); 
   
    padding: 10px;
    font-size: 34px;
    font-weight:bolder;
    z-index: 1; 
  }
  
  
  .slide > {
    position: relative;
    width: 1500px;
    height: 550px;
  }
  
  
  .slider-container {
    width: 1500px;
    height: 550px; 
    overflow-x: hidden; 
    position: relative;
    margin: 0 0 0 0; 
  }
  
  
  .slider-image {
    width:1500px;
    height: 550px;
    object-fit: cover;
    display: block;
  } 
  .slider-container {
    width: 100%;
    overflow: hidden; 
    height: 600px;
  }
  
  .slider-image {
    width: 100%;
    margin-top: 4px;
    height: auto;
    object-fit: cover;
    background-position: center;
  } 
  
  