/* General styling */

.signin {
  width: 400px;
  padding: 20px;
  margin: 125px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  background-color: var(--secondary-color);
  font-family: Arial, sans-serif;
}

.signin h4 {
  text-align: center;
  color: var(--link-color);
  margin-bottom: 20px;
  font-family: 'Montoserrat', thin;
  font-size: 20px;
}

.signin form {
  display: flex;
  flex-direction: column;
}

.signin .form-group {
  margin-bottom: 15px;
}

.signin label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--label-color);
  display: block;
}

.signin input[type="email"],
.signin input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.signin input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--link-color);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.signin input[type="submit"]:hover {
  background-color: var(--hover-color);
}

/* Checkbox and links */
.signin .form-group-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signin .form-group-remember p {
  display: inline;
  margin-bottom: 0;
  margin-left: 5px;
  color: #e34e4e;
}

.signin .form-group-remember a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 14px;
}

.signin .form-group-remember a:hover {
  text-decoration: underline;
}

/* Additional styling */
.signin input[type="email"]:focus,
.signin input[type="password"]:focus {
  outline: none;
  border-color: var(--link-color);
  box-shadow: 0 0 5px var(--label-focus-color);
}

.signin .form-group:last-child {
  margin-bottom: 0;
}

